// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-light-white: #f2f2f2;
  --color-gray: #b3b3b3;
  --color-coral: #d91667;
  --color-coral-hover: #e62e7a;
  --color-blue: #1698d9;
  --color-blue-hover: #2ea8e6;
  --color-dark-gray: #666666;
  --color-light-yellow: #ffff66;
}
